# Loading time series data

In [9]:
#Load Dataset with Series()
from pandas import Series
series = Series.from_csv('female-births.csv', header=0)
print(series.head())

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Daily total female births in California, 1959, dtype: int64

In [11]:
#Load Data using read_csv()
from pandas import read_csv
series = read_csv('female-births.csv', header=0, parse_dates=[0], index_col=0, squeeze=True)
print(type(series))
print(series.head())

<class 'pandas.core.series.Series'>
Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
Name: Daily total female births in California, 1959, dtype: int64

### NOTE: 

The arguments to the read csv() function:
- header=0: We must specify the header information at row 0.
- parse dates=[0]: We give the function a hint that data in the first column contains dates that need to be parsed. This argument takes a list, so we provide it a list of one element, which is the index of the first column.
- index col=0: We hint that the first column contains the index information for the time series.
  squeeze=True: We hint that we only have one data column and that we are interested in a Series and not a DataFrame.

## Exploring Time Series Data

In [13]:
# Summarize first few lines of file
from pandas import Series
series = Series.from_csv('female-births.csv', header=0)
print(series.head(10))

Date
1959-01-01    35
1959-01-02    32
1959-01-03    30
1959-01-04    31
1959-01-05    44
1959-01-06    29
1959-01-07    45
1959-01-08    43
1959-01-09    38
1959-01-10    27
Name: Daily total female births in California, 1959, dtype: int64

In [14]:
#Number of Observations
series.size

366

In [26]:
#Querying by Time
series['1959-01-20']

52

## Descriptive Statistics

In [27]:
#Summary Statistics
series.describe()

count     366.000000
mean       47.218579
std       100.472534
min        23.000000
25%        37.000000
50%        42.000000
75%        46.000000
max      1959.000000
Name: Daily total female births in California, 1959, dtype: float64